/* Color scheme:
    #CBC5EA -> Soap
    #C6DDEC -> Columbia Blue
    #F6F5E7 -> Alabaster
    #D6ECD2 -> Chinese White
    #EBFCDC -> Nyanza
*/

body {
    margin: 0;
    background-color: #F6F5E7;
}

.page {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.page .row {
    border: none;
}

.page .row.tab {
    background-color: #EBFCDC;
    margin: 0;

    flex: 0 1 auto;
}

.center-view {
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #CBC5EA;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab button {
    background-color: inherit;
    float: left;

    border: none;
    border-radius: 8px;

    font-size: 20px;
    padding: 12px 30px;

    margin: 2px;
    
    transition: .3s;
}

.tab button:hover {
    background-color: #C6DDECB3;
}

.tab button.active {
    background-color: #C6DDEC;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: none;
    background-color: #F6F5E7;
    height: auto;
}

.page .row.content {
    flex: 1 1 auto;
    background-color: #F6F5E7;

    margin: 0;
}
  
.page .row.footer {
    flex: 0 1 40px;
    background-color: #F6F5E7;
}

.page-container {
    height: 100%;
    display: contents;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    height: 300px;
}

.container-item {
    flex-grow: 1;
    background-color: #C6DDEC;

    margin-left: 10px;
    margin-right: 10px;

    border-radius: 10px;

    padding: 10px;
}

.container-item.experience {

}

.container-item.education {

}

.header {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}